@model IEnumerable<UniPlanner.Models.MajorsOffered>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="MajorsOffered" asp-action="Index">
    <p>
        UniProgrammeID: <input type="number" name="SearchInt" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniProgramme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a href=@Html.DisplayFor(modelItem => item.Link)>@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniProgramme.UniProgrammeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MajorsOfferedID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MajorsOfferedID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MajorsOfferedID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
