@model IEnumerable<UniPlanner.Models.Programme>

@{
    ViewData["Title"] = "Programme";
    @using Microsoft.AspNetCore.Authorization
    @inject IAuthorizationService AuthorizationService
}

<h1>Programme List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!--Form for Search button linking to index method in the controller-->
<form asp-controller="Programme" asp-action="Index">
    <p>
        Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <!--CUD operation links to appropriate view pages-->
                    @if (User.Identity.IsAuthenticated)
                    {
                <a asp-action="Edit" asp-route-id="@item.ProgrammeID">Edit</a> 
                
                <a asp-action="Delete" asp-route-id="@item.ProgrammeID">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.ProgrammeID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
