@model UniPlanner.Models.UniProgramme

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UniProgramme</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniProgrammeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniProgrammeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityInfo.UniversityInfoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Programme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Programme.ProgrammeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UniProgrammeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
