@model IEnumerable<UniPlanner.Models.UniProgramme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RankScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniversityInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RankScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityInfo.UniversityInfoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programme.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UniProgrammeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UniProgrammeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UniProgrammeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
