@model IEnumerable<UniPlanner.Models.UniProgramme>

@{
    ViewData["Title"] = "UniProgramme";
}

<h1>Programmes Offered List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!--Form for Search button linking to index method in the controller-->
<form asp-controller="UniProgramme" asp-action="Index">
    <p>
        Progarmme Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniProgrammeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RankScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniversityInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UniProgrammeID)
                </td>
                <td>
                    <!--Anchor to follow link to university's page-->
                    <a href=@Html.DisplayFor(modelItem => item.Link)>@Html.DisplayFor(modelItem => item.Programme.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RankScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityInfo.Name)
            </td>
                <td>
                    <!--CUD operation links to appropriate view pages-->
                <a asp-action="Edit" asp-route-id="@item.UniProgrammeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UniProgrammeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UniProgrammeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
